<div class="message general you" data-messageid="{{message_id}}">
   <div class="spacer"></div>
   <div class="avatar" aria-hidden="false"><img src="{{avatar_src}}"></div>
   <span class="tstamp" aria-hidden="true">{{message_time}}</span><span class="by">{{message_by}}</span>{{message_content}}
</div>