@import "../sass/_fluidtype.scss";

@font-face {
    font-family: 'Vecna';
    src: url('/fonts/Vecna.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$general_padding: 3px;

$spell: #c8c8c8; 
$roll: rgba(112, 233, 29, 0.40);
$check: #00B7FF;
$trait: #e1e1e1;
$attack: #e8c992;
$message: #ffffff; 
$damage: #e63624; 

.container.chat {
    border: 1px solid black;
    width: 300 + $general_padding;
    margin-bottom: 10px;
    color: black;
}

.avatar {
    position: absolute;
    background-size: contain;
    width: 52px;
    height: 52px;
    padding: 0 !important;
    left: 100%;
    top: -27px;
    background-color: #FFFFFF;
    border: 1px solid black;
}

.avatar.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    word-break: break-word;
    padding-left: $general_padding !important;
    padding-bottom: $general_padding !important; 
}

.name {
    text-align: center;
    background-color: #0C1713;
    color: black;
    font-family: 'Vecna';
    font-size: 100%;
    font-weight: bold; 
}


.avatar.spell {
    background-image: url('/images/spell.png'), linear-gradient($spell,$spell);
}

.name.spell {
    background-color: darken($spell,20%); 
}
.name.roll {
    background-color: darken($roll,20%);
}
.name.check {
    background-color: darken($check,20%);
}
.name.trait {
    background-color: darken($trait,20%);
}
.name.attack {
    background-color: darken($attack,20%);
}
.name.message{
    background-color: darken($message,20%); 
}
.name.dam{
    background-color: darken($damage,20%); 
}

.spelldet {
    border-top: 1px solid black;
    text-align: center;
}
.spelldet.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 35px;
    height: 35px; 
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 0 !important;
    margin-right: auto;
}
//Spelldet Icons
.spelldet.icon.time {
    background-image: url(/images/time.png);
}
.icon.target {
    background-image: url(/images/target.png);
}
.icon.duration {
    background-image: url(/images/duration.png);
}
.icon.components {
    background-image: url(/images/components.png);
}

body {
    display: flex;
    flex-direction: column;
    font-family: Verdana;
}
.action{
    background-color: green !important; 
}
.emph{
    display: inline-block; 
    font-style: italic; 
    color: black;
}
.desc{
    text-align: center; 
}
.content.roll{
}
.chat {
    background-image: #FFFFFF; 
    background-repeat: no-repeat;
    background-size: 100%;
    //box-shadow: 10px 10px 5px 0px rgba(148,148,148,0.37);
    margin-bottom: 20px;
}


.result{
    font-weight: bold; 
    display: inline-block; 
    text-align: center; 
}
.content.result{
    display: inline-block; 
    padding: 0 !important; 
    text-align: center; 
}



.r {
    border: 1px solid red;
}

.b {
    border: 1px solid blue;
}
.chat .col-2 {
    display: flex;
    align-items: flex-end;
    left: 50px;
    justify-content: center;
}


.col-10{
    padding: 0!important; 
}


.contentBox {
    flex-grow: 1;
    justify-self: flex-start;
}

.spacer {
    width: 100px;
}

.content {
    padding: 0px;
    font-size: 12pt;
}
.total {
    font-weight: bold;
    font-size: larger;
}
.total.crit{
    color: green;
}
.total.fail{
    color: red; 
}
.chat.emote {
    background-color: #f5e4d4;
    border: 2px solid #e8c992;
    margin-bottom: 10px; 
    margin-top: 10px;
    text-align: center;
}
.content.normalroll{
    font-size: larger; 
    text-align: center; 
}
/**
    ICONS
*/
.check {
    background-image: url('/images/check.png'), linear-gradient(#00B7FF,#00B7FF);
}

.attack {
    background-image: url('/images/attack.png'), linear-gradient(#e8c992,#e8c992);
}

.trait {
    background-image: url('/images/trait.png'), linear-gradient($trait,$trait);
}

.damage{
    font-size: larger; 
    font-weight: bold;
    background-color: $damage; 
}
.rollresult {
    background-image: linear-gradient(rgba(112, 233, 29, 0.40),rgba(112, 233, 29, 0.40)),url('/images/roll.png');
    font-size: larger;
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 1px black;
}

@for $i from 0 through 4 {
    $top: ($i*55);

    .spelldet_#{$i} {
        top: #{$top}px;
    }
}

//TEST ELEMENTS
.test.content{
    border: 1px solid red; 
    width: 500px; 
    height: 800px; 
}