@import "../sass/_fluidtype.scss";

@font-face {
    font-family: 'Vecna';
    src: url('/fonts/Vecna.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Vecna !important;
}

a {
    color: #00B7FF;
}

.block {
    border: 1px solid black;
    background: linear-gradient( rgba(199, 138, 5, 0.28), rgba(199, 138, 5, 0.28)), url(/images/message-bg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: inset 0px 0px 60px -2px rgba(0,0,0,1);
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.46);
}

.speakingas {
    background-color: black;
    color: white;
    text-align: center;
}

img.avatar {
    width: 100%;
    max-width: initial;
    max-height: initial;
    background-size: 100% 100%;
    background-color: #ebd6a9;
    border-right: 2px solid black;
}

.space {
    margin-top: 20px;
    margin-bottom: 20px;
}

.attackspace {
    margin-top: 20px;
    margin-bottom: -15px;
}

.spacer {
    background: none;
    background-color: transparent;
}

.text {
    word-wrap: break-word;
    padding: 10px;
    @include fluid-type(font-size,400px,1920px,12pt,24pt);
    font-family: Verdana;
}

.roller, .formula {
    font-family: Vecna;
    font-weight: bold;
}

.rollcol {
    background-size: cover;
    text-align: center;
}

.result, .attackname {
    display: inline-block;
    font-family: Vecna;
    text-align: center;
    padding: 0 !important;
}

.formula {
    border: 1px solid black;
    background-color: rgba(147, 147, 147, 0.30);
    word-wrap: break-word;
    padding: 0 !important;
    width: initial !important; 
}

.crit, .fail, .nor{
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: white;
    border: 1px solid black;
    padding: 0 !important;
}

.crit {
    background-color: rgba(0, 255, 36, 0.30);
}

.fail {
    background-color: rgba(255, 0, 0, 0.30);
}

.nor {
    background-color: rgba(255, 255, 255, 0.30);
    color: black; 
}

.gm {
    color: red;
}

.attackname {
    font-weight: bold !important;
}

.col.attack {
    background-image: linear-gradient(#e8c992,#e8ad43);
    border: 1px solid black;
    border-top: none;
    margin-bottom: 15px;
}

.col.damage {
    background-image: linear-gradient(#e89292,#c12626);
    border: 1px solid black;
    border-top: none;
    margin-bottom: 15px;
}

.col.check {
    background-image: linear-gradient(#00B7FF,#05719b);
    border: 1px solid black;
    border-top: none;
    margin-bottom: 15px;
}
.emote{
    color: black;
    font-style: italic; 
    font-family: Vecna; 

}
.col.emote, .spacer.emote {
    background-color: rgba(142, 142, 142, 0.70);
}
.col.spell, .col.spelldescription, .col.traitdescription {
    background-image: linear-gradient(#c8c8c8,#969696);
    border: 1px solid black;
    border-top: none;
    margin-bottom: 15px;
    @include fluid-type(font-size,400px,1920px,12px,24px);
    font-family: Verdana;
}
.col.traitdescription {
    background-image: linear-gradient(#ffffff,#e1e1e1);
}
.col.spelldetails {
    @include fluid-type(font-size,400px,1920px,12px,24px);
    border: 1px solid black;
    border-top: none; 
    background-color: #969696;
    margin-top: -15px;
    font-family: Verdana;
    margin-bottom: 15px; 
}
.attack .text {
    font-family: Vecna !important;
    font-weight: bold !important;
}


.spell .formula {
}

.description {
    padding: 5px !important;
    font-family: Verdana;
    @include fluid-type(font-size,400px,1920px,12px,24px);
    font-weight: normal; 
}

.spellinfo {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid black;
    padding: 5px !important;
}
.spellinfo:nth-child(2) {
    font-family: Verdana;
    font-size: 10pt;
}

.spellinfo {
    border: 1px solid black;
}

.time {
    background-image: url(/images/time.png);
}

.duration {
    background-image: url(/images/duration.png);
}

.target {
    background-image: url(/images/target.png);
}

.components {
    background-image: url(/images/components.png);
}

.spell {
    background-image: url(/images/spell.png);
}

.somatic {
    background-image: url(/images/somatic.png);
}

.material {
    background-image: url(/images/material.png);
}

.verbal {
    background-image: url(/images/verbal.png);
}

.icon {
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center center; 
    @include fluid-type(width,400px,1200px,50px,80px);
    @include fluid-type(height,400px,1200px,50px,80px);
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 0 !important;
    margin-right: auto;
}
.icon.roll {
    background-image: url('/images/roll.png'), linear-gradient(#70e91d,#19b117);
}

.icon.attack {
    background-image: url('/images/attack.png'), linear-gradient(#e8c992,#e8ad43);
}

.icon.spell {
    background-image: url('/images/spell.png'), linear-gradient(#c8c8c8,#969696);
}

.icon.trait {
    background-image: url('/images/trait.png'), linear-gradient(#ffffff,#e1e1e1);
}
.icon.check {
    background-image: url('/images/check.png'), linear-gradient(#00B7FF,#05719b);
}


.col.spelldetails:last-child{
    border-right: none; 
}

.col.spelldet {
    text-align: center;
    word-wrap: break-word;
    border-right: 1px solid black;
    @include fluid-type(width,400px,1920px,25px,50px);
    @include fluid-type(font-size,400px,1200px,8pt,12pt);
    padding: 0 !important;
}