.robs{
}

.robs.info{
	box-sizing: border-box;
	width: 100%;
	background-color: #ffe599;
	padding: 5px; 
	border: 1px solid #ffd866; 
}
.robs .info.header{
	text-align: center; 
	padding: 3px; 
	font-weight: bold; 
	
}


.robs .dismiss{ 
	font-size: 14px;
	cursor: pointer; 
	float: left; 
	margin-left: 5px; 
	font-weight: normal; 
}
.robs .dismiss::hover{
	color: grey; 
}

.info.body{
	font-style: italic !important; 
	text-align: center !important; 
	color: black;
}