.customHandle.setmode {
    position: absolute; 
    bottom: -30px;
    width: 24px; 
    height: 24px; 
    border-radius: 3px; 
    z-index: 10010 !important; 
    cursor: pointer; 
    background-color: purple; 
    color: white; 
    padding: 3px 3px 6px 3px;
    opacity: .75; 
    font-size: 26px; 
    line-height: 26px; 
}

.handleDisable:before, .handleDisable:after {
    position: absolute;
    content: '';
    background-color: black;
    display: block;
    width: 10%;
    height: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 14px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.handleDisable:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


li.setmode {
    position: absolute; 
}

.tabmenu {
    position: relative;
    bottom: 0; 
    width: 24px;
    height: 24px;
    border-radius: 3px;
    z-index: 10010 !important;
    cursor: pointer;
    background-color: purple;
    color: white;
    padding: 3px 3px 6px 3px;
    opacity: .75;
    font-size: 26px;
    line-height: 26px;
}