
/*Hide elements*/
#macrobar, #macrobar > * {
    display: none !important;
}

#floatingtoolbar {
    display: none !important;
}

#sidebarcontrol {
    display: none;
}

[id^=player_] {
    display: none;
}

#zoomslider{
    display: none; 
}

/**Add color to background (for knockout in OBS)**/
#editor-wrapper {
    overflow: hidden !important;
    background-color: none !important; 
}


#R20OBSBG {
    z-index: 0; 
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#R20OBSOVERLAY {
    background-color: red;
    opacity: 0.5; 
    z-index: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}



