block content
    - var d = unescape(content) != 'null' ? unescape(content) : ''
    - var a = (avatar.indexOf('undefined') == -1) ? avatar:'/images/verbal.png';
    block content
        .container.chat.emote
            .row
                .col-12
                    .content-holder
                        .content !{d}