block content
    - var d = unescape(content) != 'null' ? unescape(content) : ''
    .container-fluid.space
        .row.no-gutters.block
            .col-3.col-sm-2.col-lg-1.speakingas.spacer.emote
                .row
                .row
            .col.emote
                .row.no-gutters
                .text.emote #{d}
               
