doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/roll20.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/jquery.js')
    script(src="javascripts/socket.io.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    script(src='/javascripts/global.js')
  body
    block content