block content
    - var d = unescape(content) != 'null' ? unescape(content) : ''
    .container-fluid.space
        .row.no-gutters.block
            .col-1.speakingas
                .row
                    .col-12 #{by}
                .row
                    .col-12
                        img.avatar(src=`${avatar}`)
            .col-11
                .row.no-gutters
                .text #{formula}
               
