block content
    .chat(data-messageid = `${id}`)
        .spacer
        .contentBox
            .content 
                .rollFormula <span class='chatName'>#{by}</span> is <span class='rFormula'>#{formula}</span>... and got a <span class='rollResult'>#{result}</span>!