block content
    - var d = unescape(content) != 'null' ? unescape(content) : ''
    - var c = (crit != 'undefined') ? 'crit':'';
    - var f = (fail != 'undefined') ? 'fail':''; 
    - var n = (fail == 'undefined' && crit == 'undefined') ? 'normal':'';
    - var g = (by.indexOf('(GM)') != -1) ? 'gm':''; 
    block content
        .container.chat
            .row
                .col-12.name.roll #{by}
            .row
                .col-12
                    .content.normalroll #{formula} = #{result}
                    .avatar.flex.rollresult #{result}
                    