extends layout

block content
    script(src='/javascripts/hb.js')
    script(src='/javascripts/test.js')

    .content
    .controlpanel
        .btn.btn-primary.c Spell Attack
        .btn.btn-primary.r Roll
        .btn.btn-primary.sp Spell
        .btn.btn-primary.cs Crit
        .btn.btn-primary.cf Control Flames