block content
    - var d = unescape(content) != 'null' ? unescape(content) : ''
    - var a = (avatar.indexOf('undefined') == -1) ? avatar:'/images/verbal.png';
    block content
        .container.chat
            .row
                .col-12.name.message #{by}
            .row
                .col-12.p-0
                    .content !{d}
                    .avatar(style=`background-image: url(${a})`)
                    