block content
    .chat(data-messageid = `${id}`)
        .infoBox
            .name #{by}
            .avatar(style=`background-image: url(${avatar})`)
        .contentBox
            .content !{content}