block content
    - var d = unescape(description) != 'undefined' ? unescape(description) : ''
    .container.chat
        .row
            .col-12.name.trait #{name}
        .row
            .col-12
                .content #{d}
                .avatar.trait
                