<div id = 'note' type=""text/templater">
	<div class = 'robs info'>
			<div class = 'info header'>
			    <span><a class='dismiss' href = "#">X</a></span>
				{{TITLE}}
			</div>
			
			<div class='info body'>
			{{INFO}}
			</div>
	</div>
</div>